@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

@keyframes rotate {
    from {
        transform: rotate(0);

    }
    to {
        transform: rotate(360deg);

    }
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
  }

#index-wrapper{
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#circle-text{
    height:95%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: dimgray;
    font-size: 2em;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

#pic-wrapper{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    translate: 0 -7%;
}


.rotate {
    animation: rotate 15s infinite linear;
}
